.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(177, 87, 87);
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card p {
    margin: 0;
    margin-top: 5px;
    color: white;
  }
  
  .search {
    margin: 10px;
  }
  
  .sortmenu {
    margin: 10px;
  }
  
  .filtermenu {
    margin: 10px;
  }
  .poppinsFont {
    font-family: "Poppins", sans-serif;
  }
  